.galeria .foto {
    display: inline-block;
    width: 18%;
    float: left;
    margin: 1em 0 1em 2.5%;
    border: 1px solid #ddd;
    padding: 0.3em;
    box-sizing: border-box;
  }
  
  .galeria .foto img {
    display: block;
    width: 100%;
  }
  
  .galeria .foto:nth-child(5n+1)  {
    margin-left: 0;
  }

  @media (max-width: 720px) {

  .galeria .foto:nth-child(5n+1)  {
    margin-left: 1em;
      
   }
   
   .galeria {
     margin: 0 auto;
   }
   
   .galeria .foto {
     width:80%;
     margin:0 auto;
     margin-left: 1em;
   }
}