.homeimg {
    margin-bottom: 1.5em;
    
  }
  
  .bienvenidos, .testimonios {
    box-sizing: border-box;
  }
  
  .bienvenidos {
    width: 75%;
    padding-right: 2em;
  }
  
  .testimonios {
    width: 25%;
  }
  
  .testimonio {
    background-color: #ccc;
    padding: 1em;
  }
  
  .testimonios .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
  }
  
  .testimonio .autor {
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
  }


  /* reponsive */ 

  @media (max-width: 720px) {
    .homeimg {
      margin-bottom: 1.5em;
       
  }
  .homeImagen {
      width: 500px;
  }
  
  
  .bienvenidos {
      width: 100%;
  }
  
  .testimonios {
      width: 100%;
      float: none;
  }

  }

  @media (max-width: 500px) {
    .homeImagen {
        width: 300px;
    }
  }